#Header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:lighter;
  color:rgb(0, 121, 26);
  margin-bottom: -5%;
  padding-top: 1.5%;
}

#Header2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:lighter;
  color:rgb(245, 6, 6);
  margin-bottom: 1%;
  padding-top: 4%;
}

#favoritehikes {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
  padding-top: -10%;
  color:rgb(0, 121, 26);
}

#TrailsTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:lighter;
  color:rgb(0, 121, 26);
}

#hikinglogo {
  float: left;
  margin-top: -4%;
  padding-left: 2%;
  width: 100px;
  height: 100px;
  }

#hikinglogohome {
  float:left;
  width:400px;
  height: 350px;
  margin-top: -14%;
  padding-right: 15%;
  }

#hikingsign {
  float: right;
  width: 100px;
  height: 100px;
 
  }

.newFont {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-left: 10%;
  margin-top: 20%;
  color:rgb(0, 121, 26);
}

#footertext {
  text-align: center;
  margin-bottom: -.5%;
  margin-top: -.5%;
  
}



